{% extends 'layout_2.html' %}

{% block content %}
    
        <div class="card_header">
            <h1 style="line-height:0.6rem;">
            {% block heading %}
                
            {% endblock %}</h1>
            <h3>
            {% block description %}
                
            {% endblock %}</h3>
        </div>
        <div class="horizontal_cards_net">
            <form method="POST" >
            {{form.hidden_tag()}}
            <div class="small_gap_card" style="display:grid; grid-template-columns:1fr 1fr; gap:1rem" >
                {% block inline %}
                    
                {% endblock %}               

            </div>
            <div class="small_gap_card" style="display:grid; grid-template-columns:1fr; height:fit-content">
                {% block block %}
                    
                {% endblock %}
            </div>
            <div class="small_gap_card" style="display:grid; grid-template-columns:1fr 1fr; gap:1rem; margin-top:1rem" >
                {% block inline2 %}
                    
                {% endblock %}
            </div>

            </form>
            <div style="display:grid; grid-template-columns:1fr 1fr; gap:1rem; margin-top:1rem" >
                {% block inline3 %}
                    
                {% endblock %}
            </div>
            
        
    </div>


        
    
{% endblock %}